@font-face {
  font-family: test;
  src: url(dpcomic.ttf);
}
body
{
    cursor: url('Win95Def.png'), auto;
}
footer
{
    background-color: tomato;
}
header
{
    background-color: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
}


