@font-face {
  font-family: 'Sysfont';
  src: url('sysfont.woff2') format('woff2'),
  url('sysfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Win95';
  src: url('w95fa.woff2') format('woff2'),
  url('w95fa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body
{
    cursor: url('Win95Def.png'), auto;
    background-image: url('test2.jpg');
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
}
footer
{
    background-color: tomato;
    font-family: Win95;
}
header
{
    background-color: yellowgreen;
    font-family: Sysfont;
    height:auto;
}
aside {
    width: auto;
    float: right;
    background-color: orange;
}
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}



