@font-face {
  font-family: 'Sysfont';
  src: url('sysfont.woff2') format('woff2'),
  url('sysfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body
{
    cursor: url('Win95Def.png'), auto;
    background-image: url('test2.jpg');
}

}
footer
{
    background-color: tomato;
}
header
{
    background-color: yellowgreen;
    font-family: Sysfont;
}


